<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you from paramagicflights.com, <%= @passenger.name %></h1>
    <p>
      You have successfully booked with paramagicflights.com
    </p>
    <p>
      The name you provided is: <%= @passenger.name %>
    </p>
    <p>
      To view your booking, click here: <%= @url %>.
    </p>
    <p>Thanks for booking and have a great day!</p>
  </body>
</html>

