<%= form_with(model: @flight, method: :get) do |f| %>
  <p> From: <%= f.select :from_airport, @airport_options %> </p>
  <p> To: <%= f.select :to_airport, @airport_options %> </p>

  <p> 
    Passengers: <%= f.select :passengers, options_for_select(%w[1 2 3 4]) %> 
  </p>
<% end %>
