<h1>Welcome to the flight booker </h1>
<p>Please choose your flight</p>
<%= render 'search' %>

<% if @flights.empty? && !(params.empty?)%>
  <p>No flights found, please search again</p>
<% else %>
  <ul>
    <% @flights.each do |flight| %>
      <li><%= flight.start %></li>
    <% end %>
  </ul>
<% end %>
