<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <%= render 'shared/tags' %>
  </head>

  <body>
    <div class="container mx-auto text-center font-mono text-base">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type} font-bold capitalize text-red-500") %>
      <% end %>

      <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
